* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    letter-spacing: .4px;
}

/* Scrollbar */
html::-webkit-scrollbar {
    width: 1.2vw;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(46, 46, 46);
    border-radius: .6vw;
    transition: all 100ms ease-in-out;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgb(44, 44, 44);
}

html::-webkit-scrollbar-track {
    background-color: rgb(71, 71, 71);
}

/* Banner */
#banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner video {
    /* position: absolute; */
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    filter: brightness(80%);
}

#title {
    font-size: 90px;
    color: white;
    position: relative;
    z-index: 1;
    max-width: 600px;
    text-align: center;
    animation: opening 2s forwards;
}


/* Navigation */
#nav {
    z-index: 999;
    color: white;
    position: fixed;
    width: 100%;
    padding: 20px 0 30px 0;
    transition: all 300ms ease-in-out;
}

#nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#nav ul li {
    padding: 0 3%;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.scrollDown {
    transform: translate3d(0, -100%, 0)
}

.scrollUp {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.420) 10%, rgba(0, 0, 0, 0) 100%);
}

/* Subtitle */
#blueSection {
    background-color: #040463;
    width: 100%;
    color: white;
    padding: 100px 0 100px 100px;
    display: grid;
    position: relative;
}

#subtitle {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1000;
}

#subtitle h1 {
    margin-bottom: 20px;
    font-size: 40pt;
}

#subtitle h4 {
    font-weight: 400
}

#subtitle p {
    width: 60%;
    font-size: 11pt;
}

#subtitle i {
    background-color: #040463;
    color: white;
    margin-right: 20%;
}

#bgText {
    grid-column: 1;
    grid-row: 1;
    color: #1a1a6d;
    font-weight: 800;
    font-size: 160pt;
    font-style: italic;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
}

/* Main content */
#main{
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
}

.imgContainer {
    width: 50%;
    position: relative;
}

.imgContainer:after {
    content: "";
    display: block;
    padding-bottom: 50vh;
}

.imgContainer img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#stRow, #ndRow{
    display: flex;
    align-items: center;
}

#ndRow div.text{
    text-align: right;
}

.text{
    width: 50%;
    padding: 0 10%;  
}

.slideRight{
    transform: translateX(30%);
}

.slideLeft{
    transform: translateX(-30%);
}

.fadeIn{
    opacity: 0;
    transition: all 700ms ease-in-out;
}

.fadeIn.appear{
    opacity: 1;
    transform: translateX(0);
}


@keyframes opening {
    from {
        line-height: 0%;
        opacity: 0;
    }

    to {
        line-height: 80%;
        opacity: 1;
    }
}